@font-face {
    font-family: 'GE_SS_Text_Medium';
    font-style: normal;
    font-weight: 400;
    src: url(GE_SS_Text_Medium.eot?#iefix) format('embedded-opentype'), url(GE_SS_Text_Medium.woff) format('woff'), url(GE_SS_Text_Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'GE_SS_Two_bold';
    font-style: normal;
    font-weight: 400;
    src: url(GE_SS_Two_bold.eot?#iefix) format('embedded-opentype'), url(GE_SS_Two_bold.woff) format('woff'), url(GE_SS_Two_bold.ttf) format('truetype');
}

@font-face {
    font-family: 'GE_SS_Two_Medium';
    font-style: normal;
    font-weight: 400;
    src: url(GE_SS_Two_Medium.eot?#iefix) format('embedded-opentype'), url(GE_SS_Two_Medium.woff) format('woff'), url(GE_SS_Two_Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'GE_SS_Two_Light';
    font-style: normal;
    font-weight: 400;
    src: url(GE_SS_Two_Light.eot?#iefix) format('embedded-opentype'), url(GE_SS_Two_Light.woff) format('woff'), url(GE_SS_Two_Light.ttf) format('truetype');
}