/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
*, *::before, *::after {
  padding: 0;
}
:root {
  --primary-color: #0f67f6;
  --secondary-color: #191919;
  --third-color: #08d9ff;
  --primary-color-rgb: 15, 103, 246;
  --secondary-color-rgb: 25, 25, 25;
  --third-color-rgb: 8, 217, 255;
  --link-color: #006cff;
  --link-color-hover: #1227b8;
  --link-color-active: #1227b8;
  --gradient-color-from: rgb(11, 105, 149);
  --gradient-color-to: rgb(34, 155, 207);
  --gradient-color-from-rgb: 0, 108, 255;
  --gradient-color-to-rgb: 18, 39, 184;
}

/* Custom page CSS
-------------------------------------------------- */
html {
  font-size: 1rem;
  scrollbar-color: #080808 #a6a7a8;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
/*! Other Browser */

html {
  --scrollbarBG: #ECEEF2;
  --thumbBG: #BEC6D0;
}

body::-webkit-scrollbar {
  width: 11px;
}

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: relative;
  font-family: "Nunito Sans", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  font-display: swap;
  font-size: 1rem;
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

/* Scrolling End */
.body-bg {
  background: url(https://www.icloud.com/system/icloud.com/current/static/wallpaper.webp);
  background-color: #32a2f6;
  background-position: 50%;
  background-size: cover;
  width: 100%;
  background-attachment: fixed;
}
.navbar-bg {
  background-color: rgba(37,38,40,.21) !important;
  background-image: radial-gradient(circle at 25%,hsla(0,0%,100%,.2),rgba(50,50,50,.2) 80%);
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px);
  border: 0 !important;
  padding: 0;
}
.alt-logo {
  width: 20%;
  height: 59px;
}
.nav-link {
  color: #fff;
}
[data-bs-theme=light] .alt-logo {
  background-image: url(../img/AL_TOMOUH-Logo.png);
  background-size: cover;
}
[data-bs-theme=dark] .alt-logo {
    background-image: url(../img/AL_TOMOUH-Logo-white.png);
    background-size: cover;
}
.img-links {
  width: 133px;
  height: 127px;
}
/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing {
  margin-top: 1.5%;
  border: 1px solid #dee2e6;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
  font-size: 18px;
  font-family: 'Philosopher', sans-serif;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */
.featurette-divider {
  margin: .5rem 0;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.fa-139px {
  font-size: 139px;
  color: rgb(0, 139, 174);
}
/* .image-wrapper.bg-full {
  background-image: url(../img/bg23.png);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll!important;
}
.image-wrapper.bg-overlay:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.6);
}
.image-wrapper.bg-overlay:not(.bg-content) * {
  position: relative;
  z-index: 2;
}
.divider:after {
  content: "";
  width: 100%;
  height: 5px;
  background: currentColor;
  display: block;
  margin-top: -5px;
} */
.h5, h5 {
  font-family: 'Philosopher', sans-serif;
}
.app-library{
  /* block-size: 315px; */
  border-radius: 16px;
  background-color: hsla(0,0%,100%,.3);
  -webkit-backdrop-filter: blur(15px) saturate(86%);
  backdrop-filter: blur(15px) saturate(86%);
  padding: 20px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
}
.app-library .app-icon-container {
  display: grid;
  grid-template-columns: repeat(5,minmax(0,1fr));
  row-gap: 10px;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.app-library .app-icon-container .app-icon-link {
  inline-size: auto;
  min-inline-size: 54px;
  max-inline-size: 100%;
  border-radius: 10px;
  padding: 3px;
  -webkit-transition: -webkit-transform .2s cubic-bezier(.32,.08,.24,1);
  transition: -webkit-transform .2s cubic-bezier(.32,.08,.24,1);
  transition: transform .2s cubic-bezier(.32,.08,.24,1);
  transition: transform .2s cubic-bezier(.32,.08,.24,1),-webkit-transform .2s cubic-bezier(.32,.08,.24,1);
}

.IconLink {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
}
.app-icon-link {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-filter: drop-shadow(0 2px 10px rgba(0,0,0,.1));
  filter: drop-shadow(0 2px 10px rgba(0,0,0,.1));
}
.app-library .app-icon-container div.app-displayname {
  max-inline-size: -webkit-calc(100% + 10px);
  max-inline-size: calc(100% + 10px);
  -webkit-margin-before: 8px;
  margin-block-start: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: 'Philosopher', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2rem;
  color: #1d1d1f;
  max-width: calc(100% + 10px);
  margin-top: 8px;
}
.app-icon {
  position: relative;
  height: 4.5rem;
  width: 4.5rem;
  background: white;
  border-radius: 0.925rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease 0s;
  box-shadow: 0 0 30px rgba(83, 88, 93, 0.15);
}
.tile {
  inline-size: 100%;
  block-size: 315px;
  border-radius: 16px;
  -webkit-box-shadow: 17px 20px 40px rgba(0,0,0,.21);
  box-shadow: 17px 20px 40px rgba(0,0,0,.21);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  -webkit-transition: -webkit-box-shadow .2s cubic-bezier(.32,.08,.24,1),-webkit-transform .2s cubic-bezier(.32,.08,.24,1);
  transition: -webkit-box-shadow .2s cubic-bezier(.32,.08,.24,1),-webkit-transform .2s cubic-bezier(.32,.08,.24,1);
  transition: box-shadow .2s cubic-bezier(.32,.08,.24,1),transform .2s cubic-bezier(.32,.08,.24,1);
  transition: box-shadow .2s cubic-bezier(.32,.08,.24,1),transform .2s cubic-bezier(.32,.08,.24,1),-webkit-box-shadow .2s cubic-bezier(.32,.08,.24,1),-webkit-transform .2s cubic-bezier(.32,.08,.24,1);
  overflow: hidden
}
.tile .banner {
  -webkit-transition: background-color .2s cubic-bezier(.32,.08,.24,1);
  transition: background-color .2s cubic-bezier(.32,.08,.24,1);
  background-color: #dceefd;
  border-radius: 16px 16px 0 0;
  block-size: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 44px;
  height: 80px;
}
.tile:not(.customize) .banner {
  background-color: rgba(248,248,252,.85);
  -webkit-backdrop-filter: blur(15px) saturate(86%);
  backdrop-filter: blur(15px) saturate(86%);
}

.tile[dir=ltr]:not(.customize):not(.error) .banner, .tile[dir=rtl]:not(.customize):not(.error) .banner, [dir=ltr] .tile:not(.customize):not(.error) .banner, [dir=rtl] .tile:not(.customize):not(.error) .banner {
    width: 100%;
}
.tile:not(.customize):not(.error) .banner {
    inline-size: 100%;
}
.tile[dir=ltr] .banner, .tile[dir=rtl] .banner, [dir=ltr] .tile .banner, [dir=rtl] .tile .banner {
    height: 80px;
}
.tile:not(.customize) .banner {
    background-color: rgba(248,248,252,.85);
    -webkit-backdrop-filter: blur(15px) saturate(86%);
    backdrop-filter: blur(15px) saturate(86%);
}
.banner[dir=ltr], .banner[dir=rtl], [dir=ltr] .banner, [dir=rtl] .banner {
    width: 100%;
    min-height: 44px;
}
.tile .banner {
    -webkit-transition: background-color .2s cubic-bezier(.32,.08,.24,1);
    transition: background-color .2s cubic-bezier(.32,.08,.24,1);
    background-color: #dceefd;
    border-radius: 16px 16px 0 0;
    block-size: 80px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.banner {
    inline-size: 100%;
    min-block-size: 44px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #ffec7f;
}
.tile .banner .header-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  min-inline-size: 0;
  padding-block: 18px;
  padding-inline: 20px;
  text-decoration: none;
}
.tile .banner.banner-with-primary-action>a.header-content.unstyled-link.link {
  margin-block: 0;
  -webkit-margin-start: 5px;
  margin-inline-start: 5px;
  -webkit-margin-end: 3px;
  margin-inline-end: 3px;
}
.tile .banner>a.header-content.unstyled-link.link {
  padding: 7px 10px;
  margin: 0 15px;
}

.tile .banner.banner-with-primary-action>a.header-content.unstyled-link.link, .tile .banner.banner-with-primary-action>a.header-content.unstyled-link.link {
  margin: 0 3px 0 5px;
  display: flex;
  align-items: center;
}

.tile .banner>a.header-content.unstyled-link.link {
  padding-block: 7px;
  padding-inline: 10px;
  margin-block: 0;
  margin-inline: 15px;
  border-radius: 7px;
}
.tile .banner .header-content.unstyled-link.link {
  border: 3px solid transparent;
}
.tile .icon-wrapper {
  block-size: 44px;
  padding-block: 2px;
}
.tile .icon-wrapper {
  height: 44px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.tile .banner .header-content .text {
  min-inline-size: 0;
  -webkit-padding-start: 16px;
  padding-inline-start: 16px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
.tile .banner .header-content .text {
  min-width: 0;
  padding-left: 8px;
}
.tile .banner .header-content .text .heading {
  font-family: 'Philosopher', sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 25px;
  color: #000;
  letter-spacing: 1px;
  display: inline-block;
  text-transform: uppercase;
}
.tile .banner .header-content .text .heading.offscreen-measure {
  top: -100000px;
  left: -100000px;
}
.tile .banner .header-content .text .heading.offscreen-measure {
  position: fixed;
  z-index: -1;
  visibility: hidden;
  inset-block-start: -100000px;
  inset-inline-start: -100000px;
}
.tile .banner .header-content .text .description {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  color: #515154;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.tile .banner .header-content .text .description .description-content {
  overflow: hidden;
  text-overflow: ellipsis;
}
.tile .content {
  background: #fff;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  min-block-size: 1px;
  border-radius: 0 0 16px 16px;
  min-height: 1px;
  padding-left: 5px;
}
.home-tile-table {
  width: 100%;
  padding-top: 13px;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  inline-size: 100%;
  border: 3px solid transparent;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-inline: 10px;
  -webkit-padding-before: 13px;
  padding-block-start: 13px;
  position: relative;
}
.home-tile-table tbody {
  display: block;
}
.home-tile-row {
  height: 60px;
  border: 3px solid transparent;
  block-size: 60px;
  border-radius: 8px;
  display: block;
  -webkit-transition: background .2s cubic-bezier(.32,.08,.24,1);
  transition: background .2s cubic-bezier(.32,.08,.24,1);
}
.home-tile-row td {
  /* width: 295px; */
  padding: 0 10px;
  cursor: pointer;
  display: block;
  /* inline-size: 295px; */
  padding-block: 0;
  padding-inline: 10px;
}
.notes-row .home-tile-row-container {
  position: relative;
  -webkit-padding-end: 5px;
  padding-inline-end: 5px;
  padding-right: 5px;
}
.notes-row .home-tile-row-container .row-container {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  block-size: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-inline-size: 0;
  height: 60px;
  min-width: 0;
}
.notes-row .home-tile-row-container .row-container .text {
  border-bottom: 1px solid #e8e8ed;
  height: 100%;
  width: 100%;
  margin-left: 25px;
  min-width: 0;
  -webkit-border-after: 1px solid #e8e8ed;
  border-block-end: 1px solid #e8e8ed;
  block-size: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  inline-size: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-margin-start: 25px;
  margin-inline-start: 25px;
  min-inline-size: 0;
}
.home-tile-row .row-container .text {
  -webkit-transition: border-color .2s cubic-bezier(.32,.08,.24,1);
  transition: border-color .2s cubic-bezier(.32,.08,.24,1);
}
.notes-row .home-tile-row-container .row-container .text .first-line {
  font-size: 1rem;
  font-weight: 600;
  line-height: 18px;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.home-tile-row-container .row-container .icon {
  height: 30px;
  width: 30px;
  block-size: 30px;
  inline-size: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-tile-row-container .icon {
  position: relative;
}
.home-tile-row:hover:not(:active):not(:disabled):not([aria-disabled=true]):not(.disabled) {
  background: rgba(232,232,237,.8);
}
.iconImg {
  width: 3.75rem;
  height: 3.75rem;
}
.iconImgSer {
  width: 2.5rem;
  height: 2.5rem;
}