/*  header Styles   */

header {
    height: 75px;
    /*background-color: #FFF;*/
    /* background: #789383 url(../images/bg_header.png) 0 0 repeat; */
    /* background: -webkit-linear-gradient(90deg, rgb(2, 124, 156) 0%, rgb(3, 142, 179) 100%) !important; */
    background-image: linear-gradient(to left, rgba(139, 60, 143, 0.90) 62%, rgba(29, 81, 138, 0.90) 70%, rgba(114, 202, 188, 0.90) 98%); 
    z-index: 1;
    /*border-top: solid 6px #5fc9e5;
    position: relative;*/
}


/*header::before,
header::after {
    content: "";
    top: -6px;
    height: 6px;
    width: 33.33%;
    position: absolute;
    left: 33.33%;
    background: #b1cf37;
}
header::after {
    left: 66.66%;
    background: #f48123;
}*/

.dm-Logo {
    float: left;
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
}

.dg-Logo {
    float: right;
    text-align: right;
    margin-left: 10px;
    margin-top: 0px;
    z-index: 1;
    position: relative;
}


/*  End header Styles   */

.dg-Logo>ul>li {
    color: #ffffff;
    padding: 0;
    padding-right: 0px;
    padding-left: 0px;
    margin: 0px;
    font-size: 11px;
    display: inline;
}

@media (max-width: 768px) {
    header {
        height: 60px;
    }
    .dm-Logo img {
        height: 40px;
    }
    .dg-Logo img {
        height: 40px;
    }
}

.gettime {
    display: inline-block;
    list-style: none;
    letter-spacing: .5px;
}

@media (max-width: 750px) {
    .gettime {
        display: none;
        list-style: none;
        letter-spacing: .5px;
    }
}

.dm-welcome-msg-weather {
    display: block;
    /* background: rgba(0, 0, 0, .60); */
    /* height: 34px; */
    width: 68%;
    position: absolute;
    top: 0;
    /* margin-top: 1%; */
    text-align: right;
    font-size: 21px;
    /* padding-left: 5%; */
    /* padding-top: 5px; */
    color: #ffffff;
    z-index: 2;
}

@media (max-width: 991px) {
    .dm-welcome-msg-weather {
        width: 65%;
        text-align: center;
        margin-top: 30%;
        height: 60px;
        font-size: 24px;
        padding-top: 15px;
    }
}

@media (max-width: 767px) {
    .dm-welcome-msg-weather {
        width: 65%;
        margin-top: 32%;
        height: 50px;
        font-size: 20px;
        padding-left: 1%;
        padding-top: 12px;
    }
}

@media (max-width: 991px) {
    .dm-welcome-msg-weather {
        display: none;
    }
}

.dm-welcome-msg {
    display: none;
    background: rgba(0, 0, 0, .60);
    height: 34px;
    width: 100%;
    position: absolute;
    top: 0;
    margin-top: 1%;
    text-align: center;
    font-size: 21px;
    padding-left: 5%;
    padding-top: 5px;
    color: #ffffff;
    z-index: 2;
}

@media (max-width: 991px) {
    .dm-welcome-msg {
        width: 100%;
        text-align: center;
        margin-top: 30%;
        height: 60px;
        font-size: 24px;
        padding-top: 15px;
    }
}

@media (max-width: 767px) {
    .dm-welcome-msg {
        width: 100%;
        margin-top: 32%;
        height: 50px;
        font-size: 20px;
        padding-left: 1%;
        padding-top: 12px;
    }
}

@media (max-width: 991px) {
    .dm-welcome-msg {
        display: none;
    }
}

.enjaz-logo {
    background: url(../images/enjaz-logo-bg-ar.png) no-repeat left;
    position: absolute;
    height: 75px;
    width: 100%;
}