#get-started {
/* background-color: #F5F5F5;
    padding: 30px 0px 50px 0px;*/
}
#get-started .card {
	background-color: transparent;
	/* border-radius: 5px; */
	height: 230px;
	/* margin: auto; */
	/* margin-top: 10px; */
	transition: all 0.8s cubic-bezier(.42, .07, .05, .98);
	/* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
	/* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}
#get-started .card:hover {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	transform: scale(1.07) translateY(-5px);
	/*transition: all .20s ease-in-out;*/
	/*box-shadow: 0px 10px 50px rgba(0,0,0,0.4);*/
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7fbfc+0,d9edf2+40,add9e4+100;Blue+3D+%231 */
	/*background: rgb(247,251,252);*/ /* Old browsers */
	/*background: -moz-linear-gradient(top, rgba(247,251,252,1) 0%, rgba(217,237,242,1) 40%, rgba(173,217,228,1) 100%);*/ /* FF3.6-15 */
	/*background: -webkit-linear-gradient(top, rgba(247,251,252,1) 0%, rgba(217,237,242,1) 40%, rgba(173,217,228,1) 100%);*/ /* Chrome10-25,Safari5.1-6 */
	/*background: linear-gradient(to bottom, rgba(247,251,252,1) 0%, rgba(217,237,242,1) 40%, rgba(173,217,228,1) 100%);*/ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fbfc', endColorstr='#add9e4', GradientType=0 );*/ /* IE6-9 */
}
#get-started .card-header {
	border-radius: 0px 0px 0px 0px;
	padding: 4px 10px 10px 10px;
	/* text-align: center; */
	color: white;
	text-align: center;
}
#get-started #learning-card .card-header {
	background-color: rgb(0, 139, 174);
	/* background: linear-gradient(to right, #FF6E40, #FF3D00); */
	font-size: 19px;
	font-weight: 400;
	margin-bottom: 10px;
}
#get-started #devtools-card .card-header {
	background-color: rgb(184, 150, 87);
	/* background: linear-gradient(to right, #448AFF, #2979FF); */
	font-size: 19px;
	font-weight: 400;
	margin-bottom: 10px;
	
}
#get-started #getinvolved-card .card-header {
	background-color: #3dc753;
	/* background: linear-gradient(to right, #FF4081, #F50057); */
	font-size: 19px;
	font-weight: 400;
	margin-bottom: 10px;
}
#get-started #testthewebforward-card .card-header {
	background-color: #9b6d9d;
	/* background: linear-gradient(to right, #E040FB, #D500F9); */
	font-size: 18px;
	font-weight: 400;
}
#get-started .card-header h2 {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: .02em;
}
#get-started .card-content {
	/* background-color: white; */
	/* padding: 15px; */
	border-radius: 0px 0px 5px 5px;
	text-align: center;
}
#get-started .card-content p {
	font-size: 15px;
	color: rgba(0,0,0,0.87);
	line-height: 1.8rem;
	padding: 5px;
}
#get-started .card-content img {
	height: 85px;
}
#get-started .card-content ul {
	padding: 0px;
}
#get-started .card-content ul li {
	list-style-type: none;/*padding: 5px 0px 5px 0px;*/
}
#get-started .card-content ul li a {
	font-weight: 400;
	font-size: 13.4px;
	/* letter-spacing: .01em; */
	/*font-family: 'Gill Sans MT', Arial;*/
	/* color: #000; */
	text-decoration: none;
	/* font-weight: bold; */
}
#get-started .card-content ul li a:hover {
	/*color: #2979FF;*/    
	transition: all 0.8s cubic-bezier(.42, .07, .05, .98);
}
#breaking-news {
	background-color: white;
	text-align: center;
}
#breaking-news img {
	margin: auto;
	margin-top: 20px;
	max-width: 220px;
}
#breaking-news h2 {
	text-align: left;
}
#breaking-news p {
	line-height: 1.7rem;
	text-align: left;
}
#breaking-news p.call-to-action a {
	font-size: 1.1rem;
	letter-spacing: .02em;
	margin-bottom: 30px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	color: white;
}
#breaking-news {
	background-color: white;
	padding: 50px 0px 50px 0px;
}
#breaking-news p {
	line-height: 1.8rem;
}
#breaking-news h2 a {
	color: #536DFE;
	text-decoration: none;
	letter-spacing: 0.02rem;
}
#breaking-news p.call-to-action a {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	color: #536DFE;
	text-decoration: none;
	letter-spacing: 0.02rem;
}
#breaking-news h2 {
	font-size: 1.5rem;
	font-weight: 400;
	color: rgba(0,0,0,0.87);
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.02rem;
}
#friends {
	padding: 50px 0px 50px 0px;
	background-color: #F5F5F5;
	background: linear-gradient(to right, #7C4DFF, #651FFF, #6200EA);
}
#friends p {
	color: rgba(0,0,0,0.87);
	line-height: 1.7rem;
	color: rgba(255,255,255,1);
}
#friends h2 {
	font-size: 1.8rem;
	letter-spacing: .02em;
	margin-bottom: 30px;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	color: rgba(0,0,0,0.87);
	color: rgba(255,255,255, 1);
}
#friends p a {
	color: white;
}
#friends p.call-to-action {
	margin-top: 30px;
}
#friends p.call-to-action a {
	padding: 20px 30px 20px 30px;
	background-color: #6200EA;
	font-family: 'Roboto', sans-serif;
	font-size: 0.9rem;
	font-weight: 300;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	border-radius: 5px;
}
 
@media (max-width: 768px) {
header #hero {
	padding: 80px 0px 100px 0px;
}
header #hero h1.motto {
	font-size: 1.5rem;
	line-height: 2.5rem;
}
#breaking-news {
	text-align: center;
}
#breaking-news h2 {
	font-size: 1.5rem;
	font-weight: 300;
}
#friends {
	text-align: center;
}
#friends h2 {
	font-size: 1.5rem;
}
}
