@import url(Nunito/Nunito.css);
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    font-size: 1rem;
}

body {
    margin: 0;
    margin: 0px;
    font-family: "Nunito Sans", sans-serif;
    background-color: #dbdbdb;
    font-size: 1rem;
    line-height: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #ebebef url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 950px;
}

.a:hover {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.fa {
    margin-right: 3px;
    margin-left: 3px;
}

.top-dsg {
    margin-top: 130px;
}

.red-note {
    color: red;
}

.required:after {
    content: " * ";
    color: red;
    font-size: 20px;
    top: 0px;
    margin-left: 5px;
    font-weight: normal;
    position: absolute;
}

.full-width-image {
    width: 100%;
}

.title-page {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #229999;
}

.margin-Bsmart {
    margin-bottom: 30px;
}


/*----------------- font sizes styles ------------------*/

.fa-8px {
    font-size: 8px !important;
}

.fa-10px {
    font-size: 10px !important;
}

.fa-12px {
    font-size: 12px !important;
}

.fa-14px {
    font-size: 14px !important;
}

.fa-16px {
    font-size: 16px !important;
}

.fa-18px {
    font-size: 18px !important;
}

.fa-20px {
    font-size: 20px !important;
}

.fa-22px {
    font-size: 22px !important;
}

.fa-24px {
    font-size: 24px !important;
}

.fa-26px {
    font-size: 26px !important;
}

.fa-28px {
    font-size: 28px !important;
}

.fa-30px {
    font-size: 30px !important;
}

.fa-39px {
    font-size: 39px !important;
    vertical-align: middle;
}

.fa-150px {
    font-size: 150px;
    color: #566f7a;
    margin-bottom: 10px;
}

.padding-5 {
    padding: 5px;
}

.margin-5 {
    margin: 5px;
}

.margin-10 {
    margin: 10px;
}

.zero-padding {
    padding: 0px !important;
}

.transparent-white-background {
    background: #FFF;
    /* -webkit-border-radius: 10px; */
    -moz-border-radius: 10px;
    /* border-radius: 10px; */
    -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.inner-pages {
    padding: 5px;
    margin-bottom: 15px;
}

.row {
    margin-right: auto;
    margin-left: auto;
}

.container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.popover-content {
    font-size: 12px;
}

.popover.top>.arrow {
    margin-left: -110px;
}


/*---------------Start breadcrumb -----------------------*/

.breadcrumb {
    padding: 0px 0px;
    margin-bottom: 10px;
    list-style: none outside none;
    background-color: transparent;
    border-radius: 0px;
    font-size: 12px;
}

.breadcrumb a {
    color: #000;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.breadcrumb a:hover {
    color: #76261B;
}

.breadcrumb>li+li:before {
    content: "/ ";
    padding: 0px 5px;
    color: #000;
}


/*---------------End breadcrumb -----------------------*/


/*---------------Start images -----------------------*/

img {
    text-decoration: none;
    border: 0px;
}

img:hover {
    text-decoration: none;
    border: 0px;
}

img:visited {
    text-decoration: none;
    border: 0px;
}


/*---------------End images -----------------------*/


/*---------------Start Over write buttons -----------------------*/

.btn {
    padding: 6px 12px;
    margin-bottom: 5px;
    border: none;
    /*border-radius: 0;*/
    color: #fff;
    font-size: 1rem;
}


/*---------------End Over write buttons -----------------------*/


/*---------------Start href links -----------------------*/

a:hover {
    color: #666;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    text-decoration: none;
}

a {
    color: #000;
    text-decoration: none;
}


/*a:hover{
    text-decoration: underline !important;
}*/


/*a:visited{
    color:#fff !important;
}*/


/*---------------End href links -----------------------*/


/*---------------Start content -----------------------*/

.global-content {
    color: #000;
    text-align: justify;
    line-height: 1.5;
    font-size: 14px;
    min-height: 500px;
}

.global-content ul li {
    list-style: square;
}

.global-content a {
    color: #000;
    text-align: justify;
    text-decoration: underline;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.global-content a:hover {
    color: #76261B;
    text-align: justify;
}

.global-content img {
    max-width: 550px;
    height: auto;
}

@media (max-width: 767px) {
    .global-content img {
        width: 100%
    }
}

.bold {
    font-weight: bold !important;
}


/*---------------End Start content -----------------------*/


/*---------------Start H text -----------------------*/

h1 {
    font-size: 18px;
    margin: 0px;
    margin-bottom: 1em;
    font-weight: bold;
    line-height: 1.3;
}

h2 {
    font-size: 14px;
    margin: 0px;
    margin-bottom: 1em;
    font-weight: normal;
    line-height: 1.3;
}

h3 {
    font-size: 16px;
    margin: 0px;
    margin-bottom: 1em;
    font-weight: normal;
    line-height: 1.3;
}

h4 {
    font-size: 14px;
    margin: 0px;
    margin-bottom: 1em;
    font-weight: normal;
    line-height: 1.3;
}

h5 {
    font-size: 12px;
    margin: 0px;
    margin-bottom: 1em;
    font-weight: normal;
    line-height: 1.3;
}

h6 {
    font-size: 10px;
    margin: 0px;
    margin-bottom: 1em;
    font-weight: normal;
    line-height: 1.3;
}


/*---------------End H text -----------------------*/

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 767px) {
    .container {
        width: 98%;
    }
    body {
        background-image: url('../images/counter-bg.jpg');
    }
}

@media (min-width: 768px) {
    .container {
        width: 98%;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 98%;
    }
}


/*..............................fieldset..............................*/

fieldset {
    border: 1px solid #aecece;
    margin: 0 2px 10px 2px;
    padding: .35em .625em .75em;
    border-radius: 3px;
    /* text-transform: capitalize; */
}


/*..............................legend..............................*/

legend {
    display: block;
    padding: 0 5px;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: inherit;
    color: #015492;
    border: 0;
    width: inherit;
    border-bottom: none;
    font-weight: bold;
}


/*.............................. Error ..............................*/

.alert>p,
.alert>ul {
    margin-bottom: 0;
    margin-left: 50px;
}

.fontRed {
    color: #D80003;
}

.Error {
    /* padding: 7px; */
    font-size: 14px;
    color: #ec3035;
    /* background-color: lightcyan; */
    font-weight: bold;
}

.padtopbot {
    padding-bottom: 5px;
    /* padding-top: 5px; */
}

.modalbodycss p {
    color: #000000;
    font-size: 14px !important;
}

.modalHeaderSpace {
    padding: 15px 15px 4px 15px !important;
}

.modaltitle {
    /*color: #05549c;*/
    font-size: 22px;
}


/*..............................Error..............................*/


/*.............................. New Styles as per the new design ..............................*/

.thead-default,
.table.dataTable,
.table-bordered {}

.sw-theme-default .step-content {
    padding: 10px 0px;
}

.btn-group .btn-ts {
    margin-right: 5px;
}

.btn-group .btn-ts:last-child {
    margin-right: 0;
}

.sw-theme-default .sw-toolbar-bottom {
    border-top: 0;
}

.status-info {
    font-size: 14px;
    margin-top: 15px;
}

.status-info label {
    font-weight: bold;
    color: #015492;
    margin: 0px;
}

.status-info .request-status {
    color: #90068a;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

iframe {
    width: 100%;
    border: none;
    height: 600px;
}

.marTB10 {
    margin: 10px 0px;
}

.margin0 {
    margin: 0px !important;
}

.marginR10 {
    margin-right: 10px !important;
}

.nopadding {
    padding: 0px;
}

.paddingL5 {
    padding-left: 5px;
}

.paddingT10 {
    padding-top: 10px;
}

.paddingB10 {
    padding-bottom: 10px;
}

.paddingR0 {
    padding-right: 0 !important;
}

.paddingR15 {
    padding-right: 15px;
}

.panel-head-services .panel-title {
    padding-left: 55px;
    height: 40px;
    display: table;
}

.panel-head-services .fa-dashboard {
    position: absolute;
    left: 0;
}

.panel-head-services .panel-text {
    display: table-cell;
    vertical-align: middle;
}

.panel-head-services ul {
    list-style: none;
    padding: 10px 0 0 0;
}

.panel-head-services ul li {
    padding-left: 5px;
    display: inline-block;
}

.btn-container {
    width: 100%;
    display: block;
    padding: 10px 0 10px 5px !important;
}

.form-control {
    height: initial;
}

.select-language {
    position: absolute;
    right: 20px;
    top: 128px;
}

.select-language label {
    vertical-align: middle;
    margin: 0;
    font-weight: normal;
}

.select-language .form-control {
    padding: 0 10px;
    height: 24px;
    font-size: 12px;
}

.fa-2 {
    font-size: 1.6em;
}

.social-icons img {
    max-width: 120px;
}

.wel-text {
    padding-left: 2px;
}

fieldset {
    background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x;
}

.panel-body {
    background-color: #eee!important;
    background-image: -webkit-linear-gradient(180deg, #ffffff, #fcfcfc);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#fcfcfc));
    background-image: -webkit-linear-gradient(top, #ffffff, #fcfcfc);
    background-image: linear-gradient(180deg, #ffffff, #fcfcfc);
}


/* Panel box styles */

.panel-box h2 {
    background: #eee;
    color: #015492;
    padding: 5px 10px;
    margin: 0px;
    font-weight: bold;
    margin-bottom: 5px;
}

.panel-box .panel-box-body {
    overflow: hidden;
    padding: 10px 0;
}

.panel-box .panel-box-body .form-group {
    margin-bottom: 5px;
    overflow: hidden;
}

.panel-box .panel-box-body .form-group .radio-inline input[type="radio"] {
    margin-top: 1px;
}

.panel-box .panel-box-body .form-group .cbox-inline {
    padding: 0 0 0 5px;
}

.panel-box .panel-box-body .form-group .radio-inline:first-child {
    padding-right: 50px;
}

.panel-box label {
    /*text-transform: capitalize;*/
}


/* Request details styles */

.sw-theme-default .request-details-tabs.sw-container {
    min-height: initial;
}


/* Table gray theme styles */

.table-gray thead {
    background: #eee;
}

.title-table h4 {
    font-weight: bold;
    padding: 5px;
    margin: 0;
    background: #ddd;
    margin-bottom: 2px;
}

.title-table h3 {
    font-weight: bold;
    margin-bottom: 10px;
}

.table .fa-2 {
    vertical-align: middle;
}

.table .radio-inline {
    margin-right: 10px;
}

.table .radio-inline input[type="radio"] {
    margin-top: 1px;
}


/* Upload button styles */

.file-upload {
    position: relative;
}

.file-upload-label {
    padding: 8px 12px;
    margin-top: 0px;
    color: #fff;
    background: #b89657;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18), 0 2px 5px 0 rgba(0, 0, 0, 0.15)
}


/* .file-upload-label:hover {cursor: pointer;  background: #000;}     */

.file-upload-input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1;
    width: 0;
    height: 100%;
    opacity: 0;
}


/*Color box styles */

.color-box {
    width: 15px;
    height: 15px;
    display: inline-block;
}

.color-box-red {
    background: #ff0000;
}

.color-box-yellow {
    background: #fefb04;
}


/* Modal Popup buttons style */

.btn-default:focus,
.btn-default:active,
.btn-default:active:focus {
    background-color: rgb(184, 150, 87);
    border-color: rgb(184, 150, 87);
    color: #fff;
}

#ShowAttachments iframe {
    height: 450px;
}

.right-links {}

.right-links ul {
    margin: 15px 0px;
}

.right-links ul li {
    list-style: none;
    display: inline-block;
    margin-left: 5px;
}

.right-links ul li a {
    font-size: 14px;
}

.right-links ul li a.approve .fa {
    color: green;
}

.right-links ul li a.reject .fa {
    color: red;
}

.btn-inline {
    margin: 0 20px 0 12px;
}

.btn-inline label {
    margin-right: 20px;
}


/*...................... Dashboard Styles..........................*/

.announcements-panel {
    background-color: #789383;
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
    margin: 0px 10px;
}

.ann-panel-title {
    padding: 8px 15px;
    font-size: 16px;
    font-weight: bold;
}

.has-arrow-right {
    height: 40px;
    position: relative;
    background-color: #b89657;
    border-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.has-arrow-right:before {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    border: 20px solid transparent;
    border-left: 20px solid #b89657;
}

.ann-panel-text {
    padding: 4px 20px 4px 40px;
}

.dashboard-panel {
    border-radius: 3px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.db-panel-body {
    padding: 15px 10px;
    min-height: 372px;
}

.login-box {
    color: #fff;
    border-color: transparent !important;
    background-color: #566f7a;
}

.login-panel {
    border-radius: 3px;
    background-color: #fff;
    margin-bottom: 50px;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.login-panel .input-group {
    margin: 15px 0px;
}

.forgotPass {
    margin: 10px 0px 0px 0px;
}

.login-panel-body {
    padding: 15px 10px;
    min-height: 230px;
}

.login-panel .radio,
.login-panel .checkbox {
    display: block;
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
}

.header-db {
    color: #fff;
    border-color: transparent !important;
    background-color: #b89657 !important;
}

.header-db:hover {
    color: #fff;
    border-color: transparent !important;
    background-color: #a0834d !important;
}

.table-db {}

.table-db table {
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.table-db table th {
    background-color: #789383;
    color: #fff;
    font-weight: normal;
}

.table-db .table>thead>tr>th,
.table-db .table>tbody>tr>th,
.table-db .table>tfoot>tr>th,
.table-db .table>thead>tr>td,
.table-db .table>tbody>tr>td,
.table-db .table>tfoot>tr>td {
    padding: 10px !important;
}

.graph {
    padding: 0px 0px 10px 0px;
    text-align: center;
}

.btn-group,
.btn-group-vertical {
    margin-bottom: 5px;
}


/*...................... Modal Popup Styles..........................*/

.modal-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


/*...................... Menu Styles..........................*/

.navbar-core {
    background-color: #566f7a;
    border-top: 1px solid #dbdbdb;
}

.navbar-core .navbar-collapse {
    padding: 0px;
}

.navbar-core .navbar-nav>li>a {
    color: #fff;
    padding: 5px 5px;
    font-size: 14px;
    font-weight: bold;
}

.navbar-core .nav>li>a:hover,
.navbar-core .nav>li>a:focus {
    text-decoration: underline;
    background-color: transparent;
}

.navbar-core .nav>li>a.active {
    background-color: #236687;
}

.navbar-core .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-core .navbar-nav {
    margin: 0px;
}


/*...................... Site Visits Calendar Styles..........................*/

.calendar-header {
    text-align: center;
}

.calendar-header h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 5px;
}

.calendar-header ul.pagination {
    margin: 5px 5px 10px;
}

.table-sv {}

.table-sv table .technician-info {
    text-align: center;
    vertical-align: middle;
}

.table-sv table .tech-name {
    font-weight: bold;
    margin: 4px 0px;
}

.table-sv table .tech-available {}

.table-sv table .day-info {
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 5px 8px;
    margin-bottom: 4px;
    float: left;
    width: 100%;
    clear: both;
}

.table-sv table .visit-num {
    display: inline-block;
}

.table-sv table .visit-icons {
    display: inline-block;
    float: right;
}

.table-sv table .day-holiday {
    background-color: #74b823;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    color: #fff;
}

.subheadline {
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    padding: 10px 0;
    font-size: 16px;
    color: #015492;
}

.form-group {
    overflow: hidden;
}

.table-bordered>thead>tr>th,
.panel-title,
.panel-box {}

.body-min-height {
    min-height: 600px;
}

.input-group-addon {
    padding: 3px 6px 3px 10px;
    border-radius: 0px;
}

.dashboard-text {
    padding-left: 55px;
    height: 40px;
    display: table;
}

.dashboard-text .panel-text {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}

.fa-user-circle {
    font-size: 20px;
    color: #fff;
    margin: 6px 3px;
}

.id-width {
    width: 70px;
}

.graph-info {}

.graph-info h3 {
    text-align: center;
    color: #015492;
    font-weight: bold;
}

.dashboard-text .fa-dashboard {
    position: absolute;
    font-size: 2em;
    left: 13px;
    top: 5px;
    color: #fff;
}

.user-icon.open>.dropdown-menu {
    right: 0px;
    left: initial;
}

.user-dropdown {
    position: relative;
}

.user-dropdown .user-icon {
    position: absolute;
    right: 16px;
    top: 0px;
}

.border-rt {
    border-right: 1px solid #cccccc;
}

.language-change {
    color: #fff;
    padding: 3px 0px;
    font-size: 13px;
}

.user-name {
    position: relative;
    top: -2px;
}

.language-change a {
    color: #fff;
}

.user-icon a {
    color: #fff;
}

.text-size {
    padding: 6px 0px;
}

.text-size a {
    color: #fff;
    margin: 0px 5px;
}

.text-size a.small {
    font-size: 80%;
}

.text-size a.current {
    font-size: 100%;
}

.text-size a.large {
    font-size: 120%;
}

.dropdown-menu .fa-user {
    margin-right: 3px;
}

.fa-user {
    margin-right: 0px;
}

.login-panel-body .fa-user {
    margin-right: 3px;
}


/* Available Dates Calendar Styles */

.available-dates ul {
    list-style-type: none;
}

.available-dates .month {
    padding: 8px;
    width: 100%;
    background: #789383;
    font-weight: bold;
}

.available-dates .month ul {
    margin: 0;
    padding: 0;
}

.available-dates .month ul li {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.available-dates .month .prev {
    float: left;
    cursor: pointer;
}

.available-dates .month .next {
    float: right;
    cursor: pointer;
}

.available-dates .weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.available-dates .weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.available-dates .days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.available-dates .days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 3px;
    font-size: 12px;
    color: #777;
    overflow: hidden;
    line-height: 21px;
}

.available-dates .days li .active {
    padding: 5px;
    background: #1abc9c;
    color: #fff !important;
    cursor: pointer;
}

.available-dates .days li .active.selected-date {
    background: #b89657;
}

.available-dates .slots-legend ul {
    overflow: hidden;
    padding: 10px 0 0 0;
}

.available-dates .slots-legend li {
    float: left;
    margin-right: 10px;
}

.available-dates .slots-legend span {
    float: left;
    width: 12px;
    height: 12px;
    margin: 2px;
    margin-right: 10px;
}

.available-dates .slots-legend .available-slots {
    background-color: #1abc9c;
}

.datepicker {
    width: 225px;
}


/* Report Styles */

.report-title {
    background: #566f7a;
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
    padding: 10px;
}

.report-container-top-margin {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.report-chart {
    margin: 20px 0;
}

.report-chart img {
    max-width: 80%;
}


/* Site Visit Calendar Modal */

#SiteVisitCalendar .cal-year {
    font-size: 28px;
    padding: 10px 0;
}

.fc-week td {
    height: 106px;
    padding: 5px;
    vertical-align: top;
}

#SiteVisitCalendar .popover-content,
#SiteVisitCalendar .popover-title {
    padding: 5px;
    font-size: 12px;
}

#SiteVisitCalendar .lr-arrow {
    color: #888;
}

body {
    padding-right: 0px !important;
}

.bootstrap-timepicker-widget input {
    border: 1px solid #ccc;
}

.header-text {
    font-size: 14px;
    color: #015492;
    font-weight: bold;
    margin-bottom: 10px;
}


/* Output tab styles */

#Output hr {
    margin-top: 20px;
    /* margin-bottom: 20px; */
    border-top: 1px solid #000;
}

#Output .header {
    font-family: 'Arial';
    font-size: 22px;
    font-weight: bold;
}

#Output .sub-header {
    font-family: 'Arial';
    font-size: 18px;
}

#Output .text {
    font-family: 'Arial';
    font-size: 14px;
}

#Output .box-head {
    font-family: 'Arial';
    font-size: 14px;
    font-weight: bold;
}

#Output .text-box {
    border: 0;
    border-bottom: 1px dotted #000;
    width: 130px;
}


/* Serch Licence styles */

.serch-licence .serch-licence-row label {
    vertical-align: middle;
    margin-right: 10px;
}

.serch-licence .serch-licence-row input {
    padding: 5px 12px;
}

.serch-licence .serch-licence-row {
    margin-bottom: 10px;
}

.serch-licence .serch-licence-row .btn {
    margin: 0 5px 0 10px;
}

.serch-licence-btn {
    margin-top: 20px;
}

.serch-licence-btn .btn {
    margin-right: 10px;
}

.get-info {
    color: #3894c2;
    text-decoration: underline;
    margin: 5px 0 0 10px;
    font-weight: normal;
}

.get-info:hover {
    text-decoration: none;
}

.get-building-details {
    margin: 10px 0 0 0;
}

.ts-violation .sw-btn-group-extra.btn-group {
    width: 100%;
}

.ts-violation .btn-violation-submit {
    float: right;
}


/* New styles */

.theme-dark-red-btn {
    background-color: #FFF !important;
    border: 1px #566f7a solid;
    cursor: pointer;
    color: #000 !important;
    min-width: 80px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18), 0 2px 5px 0 rgba(0, 0, 0, 0.15) !important;
}

.theme-dark-red-btn:hover {
    background-color: #566f7a !important;
    color: #FFF !important;
}

.theme-dark-red-btn:hover .fa,
.theme-dark-red-btn:hover~.fa {
    color: #FFF !important;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.theme-dark-red-btn .fa {
    color: #0097c3 !important;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.theme-dark-red-btn .fa:hover {
    color: #FFF !important;
}


/* Health & Water Services styles */

.hs-header-db {
    color: #fff;
    border-color: transparent !important;
    background-color: #56a54e !important;
}

.hs-header-db:hover {
    color: #fff;
    border-color: transparent !important;
    background-color: #60b857 !important;
}

.hs-has-arrow-right {
    height: 40px;
    position: relative;
    background-color: #56a54e;
    border-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.hs-has-arrow-right:before {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    border: 20px solid transparent;
    border-left: 20px solid #56a54e;
}

.hs-has-arrow-right-ar:before {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    border: 20px solid transparent;
    border-left: 20px solid #56a54e;
}

.hs-has-arrow-right-ar {
    height: 40px;
    position: relative;
    background-color: #56a54e;
    border-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.hs-has-arrow-right-ar::before {
    right: 100%;
    border-right: 20px solid #56a54e !important;
    left: initial !important;
    border-left: 0 !important;
}

.ws-header-db {
    color: #fff;
    border-color: transparent !important;
    background-color: #008bae !important;
}

.ws-header-db:hover {
    color: #fff;
    border-color: transparent !important;
    background-color: #169ec0 !important;
}

.ws-has-arrow-right {
    height: 40px;
    position: relative;
    background-color: #007f9f;
    border-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.ws-has-arrow-right:before {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    border: 20px solid transparent;
    border-left: 20px solid #007f9f;
}

.ws-has-arrow-right-ar:before {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    border: 20px solid transparent;
    border-left: 20px solid #007f9f;
}

.ws-has-arrow-right-ar {
    height: 40px;
    position: relative;
    background-color: #007f9f;
    border-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.ws-has-arrow-right-ar::before {
    right: 100%;
    border-right: 20px solid #007f9f !important;
    left: initial !important;
    border-left: 0 !important;
}

.ws-panel {
    background-color: #008bae;
}

.hs-panel {
    background-color: #60b857;
}

.modal-lg-pdf {
    width: 1200px;
}

.file {
    position: relative;
    overflow: hidden;
}

.file input {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
}

.gis-map {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18), 0px 0px 5px 0 rgba(0, 0, 0, 0.15);
}

@media (min-width: 1024px) {
    .report-container {
        width: 50%;
    }
}

@media (min-width:768px) {
    .paddingL5SM {
        padding-left: 5px;
    }
}

@media (min-width:992px) {
    .paddingL5MD {
        padding-left: 5px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .grid-height {
        min-height: 300px;
    }
    .graph img {
        max-width: 100%;
    }
}

@media (max-width: 767px) {
    .dg-Logo img {
        height: 37px;
    }
    .dg-Logo {
        margin-left: 5px;
    }
    .dm-Logo {
        margin-right: 5px;
        margin-top: 9px;
    }
    .select-language {
        right: 10px;
        top: 77px;
    }
    .panel-head-services .panel-text {
        font-size: 14px;
    }
    .has-arrow-right:before {
        border-left: 0px;
    }
    .ann-panel-text {
        padding-left: 15px;
    }
    .navbar-toggle {
        float: left;
        padding: 4px 10px;
    }
    .user-dropdown .user-icon {
        right: 10px;
    }
    .text-size {
        display: none;
    }
    .container-fluid,
    .user-icon {
        padding: 0px;
    }
    .language-change {
        padding-right: 10px;
    }
    .home-icon {
        padding-left: 0px;
    }
    .graph img {
        max-width: 100%;
    }
    .border-rt {
        border: none;
    }
}

@media screen and (max-width:720px) {
    .available-dates .weekdays li,
    .available-dates .days li {
        width: 13.1%;
    }
}

@media screen and (max-width: 420px) {
    .available-dates .weekdays li,
    .available-dates .days li {
        width: 12.5%;
    }
    .available-dates .days li .active {
        padding: 2px;
    }
}

@media screen and (max-width: 290px) {
    .available-dates .weekdays li,
    .available-dates .days li {
        width: 12.2%;
    }
}

span.multiselect-native-select {
    position: relative
}

span.multiselect-native-select select {
    border: 0!important;
    clip: rect(0 0 0 0)!important;
    height: 1px!important;
    margin: -1px -1px -1px -3px!important;
    overflow: hidden!important;
    padding: 0!important;
    position: absolute!important;
    width: 1px!important;
    left: 50%;
    top: 30px
}

span.multiselect-native-select div {
    position: relative;
}

.multiselect-container {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0
}

.multiselect-container {
    width: 100% !important;
}

.multiselect-container .input-group {
    margin: 5px
}

.multiselect-container>li {
    padding: 0
}

.multiselect-container>li>a.multiselect-all label {
    font-weight: 700
}

.multiselect-container>li.multiselect-group label {
    margin: 0;
    padding: 3px 20px 3px 20px;
    height: 100%;
    font-weight: 700
}

.multiselect-container>li.multiselect-group-clickable label {
    cursor: pointer
}

.multiselect-container>li>a {
    padding: 0;
    white-space: normal;
}

.multiselect-container>li>a>label {
    margin: 0;
    height: 100%;
    cursor: pointer;
    font-weight: 400;
    padding: 3px 0 3px 30px;
    white-space: normal;
}

.multiselect-container>li>a>label.checkbox {
    width: 100%;
}

.multiselect.dropdown-toggle.btn-block.text-left.btn.btn-default {
    white-space: normal;
    color: #333;
    text-align: left;
}

.multiselect.dropdown-toggle.btn-block.text-left.btn.btn-default:focus {
    background-color: transparent;
}

.multiselect-container>li>a>label.radio,
.multiselect-container>li>a>label.checkbox {
    margin: 0
}

.multiselect-container>li>a>label>input[type=checkbox] {
    margin-bottom: 5px
}

.btn-group>.btn-group:nth-child(2)>.multiselect.btn {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.form-inline .multiselect-container label.checkbox,
.form-inline .multiselect-container label.radio {
    padding: 3px 20px 3px 40px
}

.form-inline .multiselect-container li a label.checkbox input[type=checkbox],
.form-inline .multiselect-container li a label.radio input[type=radio] {
    margin-left: -20px;
    margin-right: 0
}

.nav-tabs>li>a {
    color: #3894c2;
    border: 2px solid transparent;
    height: 33px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    cursor: default;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 2px solid rgb(86, 165, 78);
    color: rgb(86, 165, 78);
}

span.multiselect-native-select {
    position: relative
}

span.multiselect-native-select select {
    border: 0!important;
    clip: rect(0 0 0 0)!important;
    height: 1px!important;
    margin: -1px -1px -1px -3px!important;
    overflow: hidden!important;
    padding: 0!important;
    position: absolute!important;
    width: 1px!important;
    left: 50%;
    top: 30px
}

.multiselect-container {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0
}

.multiselect-container .input-group {
    margin: 5px
}

.multiselect-container>li {
    padding: 0
}

.multiselect-container>li>a.multiselect-all label {
    font-weight: 700
}

.multiselect-container>li.multiselect-group label {
    margin: 0;
    padding: 3px 20px 3px 20px;
    height: 100%;
    font-weight: 700
}

.multiselect-container>li.multiselect-group-clickable label {
    cursor: pointer
}

.multiselect-container>li>a {
    padding: 0
}

.multiselect-container>li>a>label {
    margin: 0;
    height: 100%;
    cursor: pointer;
    font-weight: 400;
    padding: 3px 0 3px 30px
}

.multiselect-container>li>a>label.radio,
.multiselect-container>li>a>label.checkbox {
    margin: 0
}

.multiselect-container>li>a>label>input[type=checkbox] {
    margin-bottom: 5px
}

.btn-group>.btn-group:nth-child(2)>.multiselect.btn {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.form-inline .multiselect-container label.checkbox,
.form-inline .multiselect-container label.radio {
    padding: 3px 20px 3px 40px
}

.form-inline .multiselect-container li a label.checkbox input[type=checkbox],
.form-inline .multiselect-container li a label.radio input[type=radio] {
    margin-left: -20px;
    margin-right: 0
}

.sub-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 0.5rem;
}

.sub-menu .menu-block {
    height: 72px;
    width: 72px;
    background: rgb(86 111 122);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    transition: transform 250ms cubic-bezier(0.1, 0.2, 0.3, 0.4);
}

.sub-menu .menu-title {
    display: block;
    margin-top: 5px;
}

.sub-menu .menu-block:hover {
    transform: translateY(0) scale(1.2);
}