/* 006 -- BUTTON STYLE */

.button-1 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    z-index: 1;
    text-transform: uppercase;
    border: 1px solid #d2d2d2;
    font-size: 12px;
    text-align: center;
    padding: 5px 15px;
    /*line-height: 12px;*/
    border-radius: 5px;
    cursor: pointer;
    color: #9e9e9e;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
}

.button-1:before {
    z-index: -1;
    backface-visibility: hidden;
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50%;
    opacity: 0;
    top: 50%;
    background: #ff9700;
    border-radius: 50%;
    margin-top: -10px;
    margin-left: -10px;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
}

.button-1:hover {
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.button-1:hover:before {
    opacity: 1;
    transform: scale(6);
    -webkit-transform: scale(6);
    -moz-transform: scale(6);
    -ms-transform: scale(6);
}

.bg-blue {
    background: rgb(184, 150, 87);
}

.button-2 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    z-index: 1;
    text-transform: uppercase;
    border: 1px solid #d2d2d2;
    font-size: 12px;
    text-align: center;
    padding: 5px 15px;
    /* line-height: 12px; */
    border-radius: 5px;
    color: #fff;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
}

.button-2:before {
    z-index: -1;
    backface-visibility: hidden;
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50%;
    opacity: 0;
    top: 50%;
    background: #fff;
    border-radius: 50%;
    margin-left: -10px;
    margin-top: -10px;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
}

.tags-b {
    position: relative;
    float: left;
    display: inline-block;
    border: 1px solid #6d6d6d;
    color: #6d6d6d;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 15px;
    border-radius: 3px;
    font-size: 11px;
}

.button-2:hover:before {
    opacity: 1;
    transform: scale(6);
    -webkit-transform: scale(6);
    -moz-transform: scale(6);
    -ms-transform: scale(6);
}

.button-2:hover {
    background: #fff;
    color: #3c3c3c;
}

.dom-but {
    position: relative;
    z-index: 1;
    float: left;
    color: #fff;
    padding: 5px 10px;
    background: #ff9700;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 30px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0);
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
}

.dom-but:before {
    content: '';
    z-index: -1;
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    opacity: 0;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
}

.dom-but span {
    font-weight: 700;
    z-index: 1;
    display: block;
    font-size: 14px;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
}

.dom-but p {
    font-weight: 300;
    z-index: 1;
    color: #ffe9c8;
    display: block;
    font-size: 14px;
    line-height: 20px;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
}

.dom-but:hover {
    color: #3c3c3c;
    background: #fff;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.dom-but:hover:before {
    opacity: 1;
    transform: scale(6);
    -webkit-transform: scale(6);
    -moz-transform: scale(6);
    -ms-transform: scale(6);
}

.dom-but:hover p {
    color: #3c3c3c;
    z-index: 1;
}

.main-section {
    position: relative;
    width: 100%;
    padding: 110px 0px 120px;
}

.bg-grey {
    background: #f9f9f9;
}

h6 {
    font-size: 1rem;
    /*line-height: 0px;*/
    font-weight: 400;
}

.second-title {
    position: relative;
    width: 100%;
    display: inline-block;
    text-align: center;
}

.second-title h2 {
    padding-bottom: 23px;
}

.second-title h3 {
    font-weight: 700;
}

.second-title h5 {
    padding-bottom: 15px;
}

.second-title p {
    padding-bottom: 59px;
}

.second-title.col-white p {
    color: rgba(255, 255, 255, 0.6);
}

.serv-block {
    position: relative;
    width: 100%;
    border-radius: 1rem;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(222, 222, 222);
    padding: 10px 2px 2px 2px;
    background: rgba(214, 224, 226, 0.2);
    text-align: center;
    margin-bottom: 10px;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    height: 149px;
}

.serv-block:hover {
    box-shadow: 2px 2px 20px rgba(104, 104, 104, 0.2);
}

.serv-block img {
    position: relative;
    display: inline-block;
    float: none;
    /*margin-bottom: 18px;*/
    width: 85px;
}

.serv-block h6 {
    padding-bottom: 0px;
}

.serv-block p {
    padding-bottom: 23px;
}

.border-blue {
    border-top: 3px solid #1593d0;
}

.border-red {
    border-top: 3px solid #f04d4e;
}

.border-green {
    border-top: 3px solid #ccdb38;
}

.border-yellow {
    border-top: 3px solid #566f7a;
}

.border-violet {
    border-top: 3px solid #3324c7;
}

.list-group-item .fa {
    color: rgb(184, 150, 87) !important;
}

.list-group-item .hs .fa {
    color: rgb(61, 199, 83);
}