.miniStats--panel {
    border-radius: 5px;
}
.bg-blue {
    background: linear-gradient(60deg, #007dc5, #9aca3c);
}
.bg-blue-dark {
   background: linear-gradient(to right, #1183E1, #5330A0);
} 
.bg-pink {
    background: linear-gradient(to right, #6f18a0, #b429cc);
}
.bg-pink-dark {
    background: linear-gradient(to right, #FF4081, #F50057);
}
.bg-blue-dark {
    background: linear-gradient(to right,#514a9d,#24c6dc);
}
.bg-orange {
    background: linear-gradient(to right,#ff851b ,#c45911);
}
.bg-lorvens {
    background: linear-gradient(to right, #5DC560, rgb(6, 129, 47));
}
.bg-brown {
    background: linear-gradient(to right bottom, #f5a966, #a75207);
}
.bg-red {
    background: linear-gradient(to right bottom, #f77095, #930b31);
}
.bg_svg_green {
    background: linear-gradient(135deg, rgba(71, 114, 217, .92), rgba(0, 220, 175, .92));
}
.bg-Lawrencium {
    background: linear-gradient(to right bottom, rgb(15, 12, 41), rgb(48, 43, 99), rgb(36, 36, 62));
}
.bg-PunYeta {
    background: linear-gradient(to right bottom, rgb(16, 141, 199), rgb(239, 142, 56));
}
.bg-SublimeVivid {
    background: linear-gradient(135deg, rgb(252, 70, 107), rgb(63, 94, 251));
}
.bg-Bighead {
    background: linear-gradient(to right bottom, rgb(201, 75, 75), rgb(75, 19, 79));
}
.bg-Ohhappiness {
    background: linear-gradient(to right, rgb(0, 176, 155), rgb(150, 201, 61));
}
.bg-RainbowBlue {
    background: linear-gradient(to right, rgb(0, 242, 96), rgb(5, 117, 230));
}
.bg-Terminal {
    background: linear-gradient(to left top, rgb(0, 0, 0), rgb(15, 155, 15))
}
.bg-coal {
    background: linear-gradient(to left top,#f7d903 ,#b56400);
}
.bg-Purplepine {
    background: linear-gradient(to left top, rgb(32, 0, 44), rgb(142, 0, 198));
}
.miniStats--header {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    border-bottom: 1px solid;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 10px 5px;
    border-radius: 5px 5px 0 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
}
.miniStats--body {
    position: relative;
    padding: 10px 10px 0px;
    z-index: 0;
}
.miniStats--icon {
    position: absolute;
    /*top: 50%;*/
    right: 10%;
    /*margin-top: -40px;*/
    font-size: 80px;
    line-height: 80px;
    opacity: .15;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
    z-index: -1;
}
.miniStats--title {
    color: #393939;
    /* font-weight: 700; */
    /* text-transform: uppercase; */
    font-size: 14px;
}
.miniStats--num {
    margin-top: 8px;
    font-size: 36px;
    line-height: 46px;
    font-weight: 300;
}
.miniStats--caption {
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 1px;
    color: #fff;
    text-align: right;
}
.text-white {
    color: #fff!important;
}
.pull-up {
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.pull-up:hover {
    z-index: 999;
    -webkit-transform: translateY(-4px) scale(1.02);
    -moz-transform: translateY(-4px) scale(1.02);
    -ms-transform: translateY(-4px) scale(1.02);
    -o-transform: translateY(-4px) scale(1.02);
    transform: translateY(-4px) scale(1.02);
    -webkit-box-shadow: 0 14px 24px rgba(62,57,107,.2);
    box-shadow: 0 14px 24px rgba(62,57,107,.2)
}
/*fieldset {
    border: 1px solid #cacaca;
    margin: 0 2px;
    padding: .35em .625em .75em;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    margin-bottom: 10px;
}
legend {
    display: block;
    padding: 0;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: inherit;
    color: #015492;
    border: 0;
    width: auto;
    border-bottom: none;
}*/
@media (min-width: 992px) {
    .modal-lg {
    width: 80%;
}
}