@import url(plusJakarta/plusJakarta.css);
@import url(Nunito/Nunito.css);
body {
	font-family: "Plus Jakarta Sans", sans-serif;
	/* font-family: "Nunito Sans", sans-serif; */
	font-size: 1rem !important;
}
.header {
	background: url('../images/bg.jpg') repeat;
}
.icon {
	fill: #ffffff !important;
}
.content.container {
	padding: 20px 20px;
	box-shadow: 0 0 24px rgba(0,0,0,0.21);
	background: #fff;
}
.carousel-inner {
	border-radius: 10px;
}
.bg-boby {
	/*background-image: url('../images/pattern.png'), url('../images/right-pattern.png') !important;*/
	background: #f0f6ff url('../images/dots_top.png');
	background-position-x: center, right !important;
	background-position-y: center, bottom !important;
	background-repeat: repeat, no-repeat !important;
	vertical-align: middle !important;
	height: 100% !important;
	margin: 0 !important;
}
.row {
	margin-right: auto;
	margin-left: auto;
}
.container {
	padding-right: 0px;
	padding-left: 0px;
	margin-right: auto;
	margin-left: auto;
}
/*---------------Start images -----------------------*/
img {
	text-decoration: none;
	border: 0px;
}
img:hover {
	text-decoration: none;
	border: 0px;
}
img:visited {
	text-decoration: none;
	border: 0px;
}
/*---------------End images -----------------------*/
.MOH_Logo {
	width: 60%;
}
.btn-ts {
	color: #fff;
	background: rgb(184, 150, 87);
	border-color: rgb(184, 150, 87);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18), 0 2px 5px 0 rgba(0, 0, 0, 0.15) !important;
}
.btn-ts:hover {
	color: #fff;
	background-color: rgb(184, 150, 87);
	border-color: rgb(184, 150, 87);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18), 0 2px 5px 0 rgba(0, 0, 0, 0.15) !important;
}
.btn-group .btn-ts {
	margin-right: 5px;
}
.btn-hs {
	color: #fff;
	background: rgb(61, 199, 83);
	border-color: rgb(61, 199, 83);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18), 0 2px 5px 0 rgba(0, 0, 0, 0.15) !important;
}
.btn-hs:hover {
	color: #fff;
	background-color: rgb(61, 199, 83);
	border-color: rgb(61, 199, 83);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18), 0 2px 5px 0 rgba(0, 0, 0, 0.15) !important;
}
.btn-ws {
	color: #fff;
	background: rgb(0, 139, 174);
	border-color: rgb(0, 139, 174);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18), 0 2px 5px 0 rgba(0, 0, 0, 0.15) !important;
}
.btn-ws:hover {
	color: #fff;
	background-color: rgb(0, 139, 174);
	border-color: rgb(0, 139, 174);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18), 0 2px 5px 0 rgba(0, 0, 0, 0.15) !important;
}
.left-logo {
	width: 50%;
	margin-left: -15px;
}
.bd-navbar {
	background-color: #563d7c;
	/*box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);*/
}
.skin-blue {
    background-color: #3c8dbc;
}
/*Footer*/
.zero-padding {
  padding: 0px;
}
.padding-5 {
	padding: 5px;
}
.padding-10 {
	padding: 10px;
}
.footer {
	background: #563d7c;
}
footer.page-footer {
	bottom: 0;
	color: #fff;
}
.unique-color-dark {
	background-color: #1c2331!important;
}
footer.page-footer a {
	color: #fff;
}
.deep-purple.accent-2 {
	background-color: #7c4dff!important;
	width: 100%;
}
footer.page-footer .footer-copyright {
	overflow: hidden;
	background-color: rgba(0,0,0,.2);
	color: rgba(255,255,255,.6);
	border-top: 1px solid;
}
.list-group-item {
	padding: 5px;
}
.list-group-item > a {
	color: #333;
}
.list-group-item > a > .btn {
	width: 44px;
}
.pull-up {
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.pull-up:hover {
	z-index: 999;
	-webkit-transform: translateY(-4px) scale(1.02);
	-moz-transform: translateY(-4px) scale(1.02);
	-ms-transform: translateY(-4px) scale(1.02);
	-o-transform: translateY(-4px) scale(1.02);
	transform: translateY(-4px) scale(1.02);
	-webkit-box-shadow: 0 14px 24px rgba(62,57,107,.2);
	box-shadow: 0 14px 24px rgba(62,57,107,.2)
}
/*---------------Start href links -----------------------*/

a:hover, a:focus {
	color: #555;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	text-decoration: none;
}
a {
	color: #555;
	text-decoration: none;
}
/*a:visited{
    color:#fff !important;
}*/

/*---------------End href links -----------------------*/
.ml10 {
	margin-left: 10px !important;
}
/*---------------Start H text -----------------------*/
h1 {
	font-size: 18px;
	margin: 0px;
	margin-bottom: 1em;
	font-weight: bold;
	line-height: 1.3;
}
h2 {
	font-size: 14px;
	margin: 0px;
	margin-bottom: 1em;
	font-weight: normal;
	line-height: 1.3;
}
h3 {
	font-size: 16px;
	margin: 0px;
	margin-bottom: 1em;
	font-weight: normal;
	line-height: 1.3;
}
h4 {
	font-size: 14px;
	margin: 0px;
	margin-bottom: 1em;
	font-weight: normal;
	line-height: 1.3;
}
h5 {
	font-size: 12px;
	margin: 0px;
	margin-bottom: 1em;
	font-weight: normal;
	line-height: 1.3;
}
h6 {
	font-size: 10px;
	margin: 0px;
	margin-bottom: 1em;
	font-weight: normal;
	line-height: 1.3;
}
/*---------------End H text -----------------------*/
@media (max-width: 767px) {
.container {
	width: 98%;
}
body {
	background-image: url('../images/counter-bg.jpg');
}
}
 @media (min-width: 768px) {
.container {
	width: 98%;
}
}
 @media (min-width: 1200px) {
.container {
	max-width: 93%;
}
}
.btn {
	font-size: 1rem;
}
.gettime {
	display: inline-flex;
	list-style: none;
	letter-spacing: .5px;
	font-size: 0.825rem;
	transform: translateZ(0px);
}
@media (max-width: 750px) {
.gettime {
	display: none;
	list-style: none;
	letter-spacing: .5px;
}
}
.gettime > li {
	padding: 0;
	padding-right: 5px;
	padding-left: 5px;
	text-decoration: none;
	margin: 0px;
}
.gettime > li > a:hover {
	animation-duration: 0.3s;
	animation-iteration-count: 1;
	animation-name: hvr-push;
	animation-timing-function: linear;
	background: none repeat scroll 0 0 rgba(255, 255, 255, 1);
}
#lnkIncrease {
	font-size: 14px !important;
}
#lnkNormal {
	font-size: 12px !important;
}
#lnkDecrease {
	font-size: 10px !important;
}
@media screen and (max-width: 768px) {
#lnkDecrease, #lnkNormal, #lnkIncrease, #demo-lunar, #demo-blue, #demo-green, #demo-red, #demo-orange {
	display: none;
}
}
div.card .card-header-primary {
	background: linear-gradient(60deg, #ab47bc, #7b1fa2);
	box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px rgba(156,39,176,.6);
	color: #fff;
}
div.card .card-header-danger {
	background: linear-gradient(60deg, #ef5350, #d32f2f);
	box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px rgba(244,67,54,.6);
	color: #fff;
}
div.card .card-header-ts {
	background: linear-gradient(60deg, rgb(184, 150, 87), rgb(140, 104, 36));
	box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px rgba(178, 174, 179, 0.6);
	color: #fff;
}
.bg-ts {
	background-color: rgb(184, 150, 87) !important;
	color: #fff;
}
.card .card-header .nav-tabs {
	padding: 0;
}
.nav-tabs {
	border: 0;
	border-radius: 3px;
	padding: 0 15px;
}
.nav {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
.nav-tabs .nav-item {
	margin-bottom: -1px;
}
.nav-tabs .nav-item .nav-link.active {
	background-color: hsla(0,0%,100%,.2);
	transition: background-color .3s .2s;
	color: #fff;
}
.nav-tabs .nav-item .nav-link {
	border: 0!important;
	color: #fff;
	font-weight: 500;
}
.nav-tabs .nav-item .nav-link {
	border: 0;
	margin: 0;
	border-radius: 3px;
	line-height: 24px;
	padding: 10px;
	background-color: transparent;
	transition: background-color .3s 0s;
}
.nav-link {
	display: block;
}
.nav-tabs .nav-item .material-icons {
	margin: -1px 5px 0 0;
	vertical-align: middle;
}
.nav .nav-item {
	position: relative;
}
.nav-tabs .nav-item i {
	margin: -1px 5px 0 0;
	vertical-align: middle;
}
.ulist2 li {
	margin: 0;
	padding: 0 0 0 20px;
	list-style-type: none;
	background: url(../images/ulist1_li.gif) 0 5px no-repeat;
}
/*..............................fieldset..............................*/
fieldset {
	border: 1px solid #cacaca;
	margin: 0 2px;
	padding: .35em .625em .75em;
	border-radius: 10px;
	width: 100%;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
/*..............................legend..............................*/
legend {
	display: block;
	padding: 0;
	margin-bottom: 0px;
	font-size: 14px;
	line-height: inherit;
	color: #015492;
	border: 0;
	width: auto;
	border-bottom: none;
}
iframe {
	width: 100%;
	border: none;
	height: 600px;
}
.form-control {
	background-color: transparent;
	display: block;
}
select.form-control {
	-moz-appearance: none;
	-webkit-appearance: none;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iMTBweCIgaGVpZ2h0PSIxOHB4IiB2aWV3Qm94PSIwIDAgMTAgMTgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sbnM6c2tldGNoPSJodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2gvbnMiPiAgICAgICAgPHRpdGxlPlVudGl0bGVkPC90aXRsZT4gICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+ICAgIDxkZWZzPjwvZGVmcz4gICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc2tldGNoOnR5cGU9Ik1TUGFnZSI+ICAgICAgICA8ZyBpZD0ic2VsZWN0LWFycm93cyIgc2tldGNoOnR5cGU9Ik1TTGF5ZXJHcm91cCIgZmlsbD0iIzAwMDAwMCI+ICAgICAgICAgICAgPHBhdGggZD0iTTUsMCBMMCw3IEwxMCw3IEw1LDAgTDUsMCBaIE01LDE4IEwxMCwxMSBMMCwxMSBMNSwxOCBMNSwxOCBaIiBpZD0iU2hhcGUiIHNrZXRjaDp0eXBlPSJNU1NoYXBlR3JvdXAiPjwvcGF0aD4gICAgICAgIDwvZz4gICAgPC9nPjwvc3ZnPg==);
	background-size: .5em;
	background-repeat: no-repeat;
	background-position: right .5em center;
	padding-right: 2em;
	overflow: hidden;
	text-overflow: ellipsis;
}
.breadcrumb {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
  list-style: none;
  background-color: transparent;
  border-radius: 0.25rem;
}
.breadcrumb .breadcrumb-item a {
  color: #fff !important;
}
.required:after {
	content: " * ";
	color: red;
	font-size: 20px;
	top: 0px;
	margin-left: 5px;
	font-weight: normal;
	position: absolute;
}

.form-group {
    margin-bottom: 5px;
}
/*.................................... Bootstrap Override label on 02/06/2017 by Balaram .................................*/
label {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-bottom: auto;
}
/*.................................... Bootstrap Override radio on 02/06/2017 by Balaram .................................*/
.top-25 {
	margin-top: 25px;
}
table {
	width: 100% !important;
}
.table th, .table td {
    padding: 4px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

/*Pre - Loader*/
.preloader {
    background: #f6f6f6;
    background:#fafafa url('../images/bg.jpg') 0 0 repeat;background-position: top center;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

.preloader .loader {
    width: 50px;
    height: 50px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.preloader .loader:before {
    content: '';
    width: 50px;
    height: 5px;
    background: #000;
    opacity: 0.1;
    position: absolute;
    top: 59px;
    left: 0;
    border-radius: 50%;
    -webkit-animation: shadow .5s linear infinite;
    animation: shadow .5s linear infinite
}

.preloader .loader:after {
    content: '';
    width: 50px;
    height: 50px;
    background: #18aecc;
    -webkit-animation: animate .5s linear infinite;
    animation: animate .5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px
}

@-webkit-keyframes animate {
    17% {
        border-bottom-right-radius: 3px
    }

    25% {
        -webkit-transform: translateY(9px) rotate(22.5deg)
    }

    50% {
        -webkit-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 40px
    }

    75% {
        -webkit-transform: translateY(9px) rotate(67.5deg)
    }

    100% {
        -webkit-transform: translateY(0) rotate(90deg)
    }
}

@keyframes animate {
    17% {
        border-bottom-right-radius: 3px
    }

    25% {
        transform: translateY(9px) rotate(22.5deg)
    }

    50% {
        transform: translateY(18px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 40px
    }

    75% {
        transform: translateY(9px) rotate(67.5deg)
    }

    100% {
        transform: translateY(0) rotate(90deg)
    }
}

@-webkit-keyframes shadow {
    0%, 100% {
        -webkit-transform: scale(1, 1)
    }

    50% {
        -webkit-transform: scale(1.2, 1)
    }
}

@keyframes shadow {
    0%, 100% {
        transform: scale(1, 1)
    }

    50% {
        transform: scale(1.2, 1)
    }
}

.card-profile {
    margin-top: 30px;
    text-align: center
}

.card-profile .card-avatar {
    margin: -50px auto 0;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.56),0 4px 25px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2)
}
.card-profile .card-avatar img {
    width: 100%;
    height: auto
}

.card-profile .card-body+.card-footer {
    margin-top: -15px
}

.card-profile .card-footer .btn.btn-just-icon {
    font-size: 20px;
    padding: 12px;
    line-height: 1em
}

.card-profile.card-plain .card-avatar {
    margin-top: 0
}

.card-profile .card-header:not([class*=card-header-]) {
    background: transparent
}

.card-profile .card-avatar {
    max-width: 130px;
    max-height: 130px
}
.bg-ts .card-body a {
	color: #fff !important;
}
.bg-orange {
	background-color: #c45911 !important;
}
.bg-light-grayish-blue {
	background-color: #ddebf7 !important;
}
.fa-dash {
    color: rgb(0, 139, 174);
    font-size: 85px;
}
.fa-39px {
	font-size: 39px;
	vertical-align: middle;
}
.margin-top10 {
	margin-top: 10px;
}
.dropdown-menu {
	font-size: 12px;
}
.table th {
	font-weight: normal;
}
tfoot {
    background: #f4f4f4;
    /*color: #fff;*/
    display: table-header-group;
}
caption { 
    display: table-caption;
    text-align: center;
    caption-side: top;
    background-color: rgb(221,235,247);
    color: #563d7c;
    /*font-weight: bold;*/
    font-size: 21px;
    padding: 0;
    font-family: 'Merienda', cursive !important;
}
.span-font {
	font-family: 'Merienda', cursive !important;
}
.hr {
	margin: 0 !important;
}
.create-button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: -webkit-gradient(linear, left top, right top, from(#0ebeff), color-stop(#FFDD40), color-stop(#ae63e4), color-stop(#47cf73), color-stop(#0ebeff), color-stop(#FFDD40), color-stop(#ae63e4), to(#47cf73));
    background: linear-gradient(90deg, #0ebeff, #FFDD40, #ae63e4, #47cf73, #0ebeff, #FFDD40, #ae63e4, #47cf73);
    background-size: 200% 200%
}

.create-button:focus::after,.create-button:hover::after {
    -webkit-animation: rainbow-border 1.5s linear infinite;
    animation: rainbow-border 1.5s linear infinite
}

@-webkit-keyframes rainbow-border {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 200% 50%
    }
}

@keyframes rainbow-border {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 200% 50%
    }
}
.text {
	background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
}
.bg-peach-orange {
	background-color: #FFCC99 !important;
}
.bg-lightGreen {
	background-color: #CCFFFF !important;
}
.bg-greenSnowyMint {
	background-color: #CCFFCC !important;
}
.bg-Gray79 {
	background-color: #c9c9c9 !important;
}
.bg-Gray86 {
	background-color: #DBDBDB !important;
}
.bg-greenLightness {
	background-color: #E2EFDA !important;
}
.bg-mintCream {
	background-color: #F1F9F2 !important;
}
.bg-linen {
	background-color: #FAEDE2 !important;
}
.bg-lavenderMist {
	background-color: #efe8fe !important;
 }
 .form-floating>.form-control,
 .form-floating>.form-control-plaintext,
 .form-floating>.form-select {
	 height: calc(2.5rem + calc(var(--bs-border-width) * 1));
	 min-height: calc(2.5rem + calc(var(--bs-border-width)* 2));
	 line-height: 1.25;
 }
 
 .form-floating>textarea.form-control {
	 height: calc(3.5rem + calc(var(--bs-border-width) * 2));
 }
 
 .form-floating>.form-control:focus~label,
 .form-floating>.form-control:not(:placeholder-shown)~label,
 .form-floating>.form-control-plaintext~label,
 .form-floating>.form-select~label,
 .form-floating>.multiselect-native-select~label {
	 opacity: 0.65;
	 transform: scale(0.85) translateY(-0.3rem) translateX(0.015rem);
 }
 
 .form-floating>label {
	 top: -9px;
 }
 
 .form-floating>.form-select {
	 padding-top: 1rem;
	 padding-bottom: 0;
 }