#lnkIncrease{
    font-size:14px !important;
}
#lnkNormal{
    font-size:12px !important;
}
#lnkDecrease{
    font-size:10px !important;
}
@media screen and (max-width: 768px) {
    #lnkDecrease, #lnkNormal, #lnkIncrease{
        display: none;
    }
}