body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 100%;
}
.bg-login {
  /* background: url(../img/Login-bg.svg); */
  background: url(../img/new/loginBg@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: bottom; */
  min-height: 100vh;
  display: flex !important;
  position: relative;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-textdiv {
  /* background: #0C5A88 0% 0% no-repeat padding-box;
    box-shadow: 7px 7px 5px #06043373;
    border-radius: 8px; */
  /* opacity: 0.81; */
  border: 2px solid rgb(101, 201, 251);
  border-radius: 2rem;
}
.input-group-text {
  background-color: transparent;
  border: 0;
  color: rgb(101, 201, 251);
}
.form-control,
.form-control:focus,
label {
  background: transparent;
  border: 0;
  color: rgb(101, 201, 251);
}
.form-control:focus {
  box-shadow: none;
}
.login-form-bg {
  border-style: solid;
  border-width: 0px;
  border-color: #ffffff;
  /* background-color: #0003; */
  padding: 15px 25px;
  border-radius: 1rem;
  position: absolute;
  right: 21.7%;
  top: 5%;
}
.btn-login {
  background-color: rgb(101, 201, 251);
  border-radius: 5rem;
}
.btn-login:hover {
  background-color: rgb(179, 233, 257);
}


ul {
  --col-gap: 2rem;
  --barH: 1rem;
  --roleH: 2rem;
  --flapH: 2rem;

  width: min(60rem, 90%);
  margin-inline: auto;

  display: flex;
  flex-wrap: wrap;

  gap: var(--col-gap);
  padding-inline: calc(var(--col-gap) / 2);

  justify-content: center;
  align-items: flex-start;
  list-style: none;
}
ul li {
  width: 320px;
  height: 520px;
  display: grid;
  grid-template:
    "role"
    "icon"
    "title"
    "descr";
  align-items: flex-start;
  gap: 1rem;
  padding-block-end: calc(var(--flapH) + 1rem);
  text-align: center;
  background: var(--accent-color);
  /* background-image: linear-gradient(
    rgba(0, 0, 0, 0.6) var(--roleH),
    rgba(0, 0, 0, 0.4) calc(var(--roleH) + 0.5rem),
    rgba(0, 0, 0, 0) calc(var(--roleH) + 0.5rem + 5rem)
  ); */
  clip-path: polygon(
    calc(var(--col-gap) / -2 - 5px) 0,
    calc(100% + var(--col-gap) / 2 + 5px) 0,
    calc(100% + var(--col-gap) / 2 + 5px) calc(100% - var(--flapH)),
    50% 100%,
    calc(var(--col-gap) / -2 - 5px) calc(100% - var(--flapH))
  );
}



ul li .icon,
ul li .title,
ul li .descr {
  padding-inline: 1rem;
  color: white;
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

ul li .icon {
  font-size: 3rem;
}
ul li .title {
  font-size: 1.25rem;
  font-weight: 700;
}

ul li .descr {
  font-size: 0.9rem;
}

.credits {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
.credits a {
  color: var(--color);
}
