.bg-body {
    background: url(../img/reportIcons/banner.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.services_icon img {
    width: 80px;
    height: 80px;
}
.services_flex {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(175px,1fr));
    grid-gap: 10px;
}
@media (min-width: 1300px) {
    .services_flex {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(208px,1fr));
        grid-gap: 35px;
    }
}
.services_iconList {
    display: flex;
    flex-direction: column;
    place-content: center;
    text-align: center;
    /* width: 120px; */
    justify-content: flex-start;
    /* background-color: var(--vz-body-bg); */
    background-color: #F1F9F2;
    border-radius: 0 1.2rem;
    padding: 0.625rem;
    box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
    border: 1px solid #f1f1f1;
}
.services_label {
    font-display: swap;
    font-size: 14px;
    color: #000;
    cursor: pointer;
    font-weight: 600;
}