body #ct-pagetitle {
    background-image: url('../img/bg-pagetitle.jpg');
}

a {
    color: #006cff;
}

a:hover {
    color: #1227b8;
}

a:active {
    color: #1227b8;
}

body {
    font-display: swap;
}

h1,
.h1,
.text-heading {
    font-display: swap;
}

h2,
.h2 {
    font-display: swap;
}

h3,
.h3 {
    font-display: swap;
}

h4,
.h4 {
    font-display: swap;
}

h5,
.h5 {
    font-display: swap;
}

h6,
.h6 {
    font-display: swap;
}
#content {
    padding-top: 0px;
    padding-bottom: 0px;
}