
.scrollup {
    padding: 5px 0px 0px;
    opacity: 0;
    position: fixed;
    text-align: center;
    text-decoration: none;
    bottom: 120px;
    right: 10px;
    display: none;
    z-index: 1040;
    background: none repeat scroll 0% 0% #789383;
    transition: all 0.3s ease 0s;
    border-radius: 7px 7px 0px 0px;
    color: #FFF;
    opacity: 1;
    font-size: 12px;
    border: 1px #ccc solid;  
    cursor: pointer;
    width: 55px;
    height: 55px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}


.scrollup:hover {
     background: #7e8eee;
     color: #FFF ;
     text-decoration: none;
  
}

