
.carousel {
    margin-bottom: 10px;
    padding: 40px;
}
/* The controlsy */
.carousel-control {
    left: -12px;
   /* height: 40px;*/
    width: 40px;
    font-size: 90px;
    color: #333;
    margin-top: 50px;
        -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.carousel-control:hover,
.carousel-control:focus {
  color: #333;
}

.carousel-control.right {
    right: -12px;
}
/* The indicators */
.carousel-indicators {
    right: 50%;
    top: auto;
    bottom: -5px;
    margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
    background: #cecece;
}
.carousel-indicators .active {
    background: #428bca;
}
.scroll{
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
}
.scroll h3{
    margin-bottom: 20px !important; 
    font-weight: bold;
}
.scroll p{
    font-size: 14px;
    margin-bottom: 20px !important; 
}
.scroll img{
   width: 55px;
   height: 55px;
}
.carousel-indicators .active {
    background: #999;
}
