/* ----------------- Service department list Theme ----------------- */
.theme-brownsc-bg {
	background-color: #844e3a !important;
	color: #FFF !important;
}
.theme-brownsc-btn {
	background-color: #FFF;
	cursor: pointer;
	color: #000 !important;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.theme-brownsc-btn:hover {
	background-color: #844e3a;
	color: #FFF !important;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.theme-brownsc-btn .fa {
	color: #844e3a !important;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.theme-brownsc-btn:hover .fa, .theme-brownsc-btn:hover ~ .fa {
	color: #FFF !important;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.theme-brownsc {
	color: #844e3a !important;
}
.theme-brownsc hr {
	border-top: 1px solid #844e3a !important;
}
.theme-brownsc a {
	color: #844e3a !important;
}
.theme-brownsc a:hover {
	color: #60372b !important;
}
/* ----------------- Service department list  Theme ----------------- */


/* ----------------- UM Theme ----------------- */
.theme-um-bg {
	border: 1px #0097c3 solid !important;
	background-color: #0097c3 !important;
	cursor: default;
	color: #FFF !important;
}
.theme-um-bg span {
	color: #FFF !important;
}
.theme-um-btn {
	background-color: #FFF;
	border: 1px #0097c3 solid;
	cursor: pointer;
	color: #000 !important;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.theme-um-btn:hover {
	background-color: #2eaded !important;
	color: #FFF !important;
}
.theme-um-btn .fa {
	color: #0097c3 !important;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.theme-um-btn .fa:hover {
	color: #FFF !important;
}
.theme-um-btn:hover .fa, .theme-um-btn:hover ~ .fa {
	color: #FFF !important;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.theme-um {
	color: #0097c3 !important;
}
.theme-um hr {
	border-top: 1px solid #0097c3 !important;
}
.theme-um a {
	color: #000 !important;
}
.theme-um a:hover {
	color: #2eaded !important;
}
/* ----------------- End UM Theme ----------------- */

/* ----------------- Services Dark Brown Theme ----------------- */
.theme-dark-brown-bg {
	border: 1px #a52a2a solid !important;
	background-color: #a52a2a !important;
	cursor: default;
	color: #FFF !important;
}
.theme-dark-brown-bg span {
	color: #FFF !important;
}
.theme-dark-brown-btn {
	background-color: #FFF;
	border: 1px #a52a2a solid;
	cursor: pointer;
	color: #a52a2a !important;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18), 0 2px 5px 0 rgba(0, 0, 0, 0.15) !important;
}
.theme-dark-brown-btn span {
	color: #a52a2a !important;
}
.theme-dark-brown-btn:hover {
	background-color: #a52a2a !important;
	color: #FFF !important;
}
.theme-dark-brown-btn:hover .fa, .theme-dark-brown-btn:hover ~ .fa {
	color: #FFF !important;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.theme-dark-brown {
	color: rgb(213, 184, 111) !important;
}
.theme-dark-brown hr {
	border-top: 1px solid #37a513 !important;
}
.theme-dark-brown a {
	color: #000 !important;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.theme-dark-brown a:hover {
	color: #37a513 !important;
}
/* ----------------- End Services Dark Brown Theme ----------------- */

/* ----------------- Business  Dark Green Theme ----------------- */
.theme-dark-green-bg {
	border: 1px #229999 solid !important;
	background-color: #229999 !important;
	cursor: default;
	color: #FFF !important;
}
.theme-dark-green-bg span {
	color: #FFF !important;
}
.theme-dark-green-btn {
	background-color: #FFF;
	border: 1px #229999 solid;
	cursor: pointer;
	color: #000 !important;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.theme-dark-green-btn:hover {
	background-color: #229999 !important;
	color: #FFF !important;
}
.theme-dark-green-btn:hover .fa, .theme-dark-green-btn:hover ~ .fa {
	color: #FFF !important;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.theme-dark-green-btn .fa {
	color: #229999 !important;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.theme-dark-green-btn .fa:hover {
	color: #FFF !important;
}
.theme-dark-green {
	color: #229999 !important;
}
.theme-dark-green hr {
	border-top: 1px solid #229999 !important;
}
.theme-dark-green a {
	color: #000 !important;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.theme-dark-green a:hover {
	color: #24b5b1 !important;
}
/* ----------------- Business End Dark Green Theme ----------------- */

/* ----------------- discover Light Green Theme ----------------- */
.theme-light-green-bg {
	border: 1px #bb0066 solid !important;
	background-color: #bb0066 !important;
	cursor: default;
	color: #FFF !important;
}
.theme-light-green-bg span {
	color: #FFF !important;
}
.theme-light-green-btn {
	background-color: #FFF;
	border: 1px #bb0066 solid;
	cursor: pointer;
	color: #000 !important;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.theme-light-green-btn:hover {
	background-color: #bb0066 !important;
	color: #FFF !important;
}
.theme-light-green-btn:hover .fa, .theme-light-green-btn:hover ~ .fa {
	color: #FFF !important;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.theme-light-green-btn .fa {
	color: #bb0066 !important;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.theme-light-green-btn .fa:hover {
	color: #FFF !important;
}
.theme-light-green {
	color: #bb0066 !important;
}
.theme-light-green hr {
	border-top: 1px solid #bb0066 !important;
}
.theme-light-green a {
	color: #000 !important;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.theme-light-green a:hover {
	color: #d33f81 !important;
}
/* ----------------- End discover Light Green Theme ----------------- */

/* ----------------- General Dark red Theme ----------------- */
.theme-dark-red-bg {
	border: 1px #0097c3 solid !important;
	background-color: #0097c3 !important;
	cursor: default;
	color: #FFF !important;
}
.theme-dark-red-bg span {
	color: #FFF !important;
}
.theme-dark-red-btn {
	background-color: #FFF !important;
	border: 1px #287195 solid;
	cursor: pointer;
	color: #000 !important;
	min-width: 80px;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18), 0 2px 5px 0 rgba(0, 0, 0, 0.15) !important;
}
.theme-dark-red-btn:hover {
	background-color: #287195 !important;
	color: #FFF !important;
}
.theme-dark-red-btn:hover .fa, .theme-dark-red-btn:hover ~ .fa {
	color: #FFF !important;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.theme-dark-red-btn .fa {
	color: #0097c3 !important;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.theme-dark-red-btn .fa:hover {
	color: #FFF !important;
}
.theme-dark-red {
	color: #287195 !important;
}
.theme-dark-red hr {
	border-top: 1px solid #333 !important;
}
.theme-dark-red a {
	color: #333 !important;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.theme-dark-red a:hover {
	color: #76261B !important;
}
.theme-dark-red-bg-btn {
	background-color: #333 !important;
	cursor: pointer;
	color: #FFF !important;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.theme-dark-red-bg-btn:hover {
	background-color: #76261B !important;
}
.theme-dark-red-bg-btn:hover .fa, .theme-dark-red-bg-btn:hover ~ .fa {
	color: #FFF !important;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

/* ----------------- End General Dark Brown Theme ----------------- */
